In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import os
from collections import Counter
print(os.listdir("/Users/verschworer/work/SF/1 000 000"))

['[SF-DST] Movies IMBD Zubkov remastered.ipynb', '[SF-DST] Movies IMBD v3.0.ipynb', 'data.csv', '@@@@.ipynb', '.ipynb_checkpoints']

In [2]:
data = pd.read_csv('data.csv')
data.head(0)

Empty DataFrame
Columns: [imdb_id, popularity, budget, revenue, original_title, cast, director, tagline, overview, runtime, genres, production_companies, release_date, vote_count, vote_average, release_year]
Index: []

In [3]:
len(data)

1890

# Предобработка датасета

In [4]:
answer_ls = [] # создадим список с ответами. сюда будем добавлять ответы по мере прохождения теста
# сюда можем вписать создание новых колонок в датасете

# 1. У какого фильма из списка самый большой бюджет?
Варианты ответов:
1. The Dark Knight Rises (tt1345836)
2. Spider-Man 3 (tt0413300)
3. Avengers: Age of Ultron (tt2395427)
4. The Warrior's Way	(tt1032751)
5. Pirates of the Caribbean: On Stranger Tides (tt1298650)

In [5]:
data[data['budget'] == data['budget'].max()].imdb_id.values[0]

'tt1032751'

In [6]:
answer_ls.append(4)

# 2. Какой из фильмов самый длительный (в минутах)
1. The Lord of the Rings: The Return of the King	(tt0167260)
2. Gods and Generals	(tt0279111)
3. King Kong	(tt0360717)
4. Pearl Harbor	(tt0213149)
5. Alexander	(tt0346491)

In [7]:
data[data['runtime'] == data['runtime'].max()].imdb_id.values[0]

'tt0279111'

In [8]:
answer_ls.append(2)

# 3. Какой из фильмов самый короткий (в минутах)
Варианты ответов:

1. Home on the Range	tt0299172
2. The Jungle Book 2	tt0283426
3. Winnie the Pooh	tt1449283
4. Corpse Bride	tt0121164
5. Hoodwinked!	tt0443536

In [9]:
data[data['runtime'] == data['runtime'].min()].imdb_id.values[0]

'tt1449283'

In [10]:
answer_ls.append(3)

# 4. Средняя длительность фильма?

Варианты ответов:
1. 115
2. 110
3. 105
4. 120
5. 100

In [11]:
data.runtime.mean()

109.65343915343915

In [12]:
answer_ls.append(2)

# 5. Средняя длительность фильма по медиане?
Варианты ответов:
1. 106
2. 112
3. 101
4. 120
5. 115

In [13]:
data.runtime.median()

106.5

In [14]:
answer_ls.append(1)

# 6. Какой самый прибыльный фильм?
Варианты ответов:
1. The Avengers	tt0848228
2. Minions	tt2293640
3. Star Wars: The Force Awakens	tt2488496
4. Furious 7	tt2820852
5. Avatar	tt0499549

In [15]:
data['profit'] = data.revenue - data.budget
data[data['profit'] == data['profit'].max()].imdb_id.values[0]

'tt0499549'

In [16]:
answer_ls.append(5)

# 7. Какой фильм самый убыточный?
Варианты ответов:
1. Supernova tt0134983
2. The Warrior's Way tt1032751
3. Flushed Away	tt0424095
4. The Adventures of Pluto Nash	tt0180052
5. The Lone Ranger	tt1210819

In [17]:
data[data['profit'] == data['profit'].min()].imdb_id.values[0]

'tt1032751'

In [18]:
answer_ls.append(2)

# 8. Сколько всего фильмов в прибыли?
Варианты ответов:
1. 1478
2. 1520
3. 1241
4. 1135
5. 1398

In [19]:
data[(data['profit'] > 0)].imdb_id.count()

1478

In [20]:
answer_ls.append(1)

# 9. Самый прибыльный фильм в 2008 году?
Варианты ответов:
1. Madagascar: Escape 2 Africa	tt0479952
2. Iron Man	tt0371746
3. Kung Fu Panda	tt0441773
4. The Dark Knight	tt0468569
5. Mamma Mia!	tt0795421

In [21]:
#new_1
q9_df = data.query('release_year==2008')
q9_df[q9_df.profit == q9_df.profit.max()].imdb_id

600    tt0468569
Name: imdb_id, dtype: object

In [22]:
#new_2 (old_part_1 + old_part_2)
data[(data['release_year'] == 2008)
     &(data['profit'] == (data[(data['release_year'] == 2008)].profit.max()))].imdb_id

600    tt0468569
Name: imdb_id, dtype: object

In [23]:
#old_part_1
data[(data['release_year'] == 2008)].profit.max()

816921825

In [24]:
#old_part_2
data.query('release_year==2008 & profit==816921825').imdb_id

600    tt0468569
Name: imdb_id, dtype: object

In [25]:
answer_ls.append(4)

# 10. Самый убыточный фильм за период с 2012 по 2014 (включительно)?
Варианты ответов:
1. Winter's Tale	tt1837709
2. Stolen	tt1656186
3. Broken City	tt1235522
4. Upside Down	tt1374992
5. The Lone Ranger	tt1210819

In [26]:
q10_df = data.loc[data['release_year'].isin(['2012','2013','2014'])]
q10_df[(q10_df['profit'] == q10_df.profit.min())].imdb_id

1246    tt1210819
Name: imdb_id, dtype: object

In [27]:
answer_ls.append(5)

# 11. Какого жанра фильмов больше всего?
Варианты ответов:
1. Action
2. Adventure
3. Drama
4. Comedy
5. Thriller

In [28]:
q11_lst = list([genre for genres in [s.split('|') for s in data.genres] for genre in genres])
c11 = Counter(q11_lst)
c11.most_common(5)

[('Drama', 782),
 ('Comedy', 683),
 ('Thriller', 597),
 ('Action', 583),
 ('Adventure', 416)]

In [29]:
answer_ls.append(3)

# 12. Какого жанра среди прибыльных фильмов больше всего?
Варианты ответов:
1. Action
2. Adventure
3. Drama
4. Comedy
5. Thriller

In [30]:
q12_df = data.query('profit>0')
q12_lst = list([genre for genres in [s.split('|') for s in q12_df.genres] for genre in genres])
c12 = Counter(q12_lst)
c12.most_common(5)

[('Drama', 560),
 ('Comedy', 551),
 ('Thriller', 446),
 ('Action', 444),
 ('Adventure', 337)]

In [31]:
answer_ls.append(3)

# 13. Кто из режиссеров снял больше всего фильмов?
Варианты ответов:
1. Steven Spielberg
2. Ridley Scott 
3. Steven Soderbergh
4. Christopher Nolan
5. Clint Eastwood

In [32]:
q13_lst = list([x for director in [s.split('|') for s in data.director] for x in director])
c13 = Counter(q13_lst)
c13.most_common(5)

[('Steven Soderbergh', 13),
 ('Ridley Scott', 12),
 ('Clint Eastwood', 12),
 ('Robert Rodriguez', 11),
 ('Steven Spielberg', 10)]

In [33]:
answer_ls.append(3)

# 14. Кто из режиссеров снял больше всего Прибыльных фильмов?
Варианты ответов:
1. Steven Spielberg
2. Ridley Scott 
3. Steven Soderbergh
4. Christopher Nolan
5. Clint Eastwood

In [34]:
q14_df = data.query('profit>0')
q14_lst = list([x for director in [s.split('|') for s in q14_df.director] for x in director])
c14 = Counter(q14_lst)
c14.most_common(5)

[('Ridley Scott', 12),
 ('Steven Spielberg', 10),
 ('Clint Eastwood', 10),
 ('Steven Soderbergh', 10),
 ('Shawn Levy', 9)]

In [35]:
answer_ls.append(2)

# 15. Кто из режиссеров принес больше всего прибыли?
Варианты ответов:
1. Steven Spielberg
2. James Cameron
3. Christopher Nolan
4. David Yates
5. Peter Jackson

In [36]:
directors = set(data.director.str.split('|').sum())
pd.Series({x: data[data.director.str.contains(x)].profit.sum()
for x in directors}).sort_values(ascending = False).head(1)

Peter Jackson    5202593685
dtype: int64

In [37]:
answer_ls.append(5)

# 16. Какой актер принес больше всего прибыли?
Варианты ответов:
1. Emma Watson
2. Johnny Depp
3. Michelle Rodriguez
4. Orlando Bloom
5. Rupert Grint

In [38]:
actors = set(data.cast.str.split('|').sum())
pd.Series({x: data[data.cast.str.contains(x)].profit.sum()
for x in actors}).sort_values(ascending = False).head(1)

Emma Watson    6666245597
dtype: int64

In [39]:
answer_ls.append(1)

# 17. Какой актер принес меньше всего прибыли в 2012 году?
Варианты ответов:
1. Nicolas Cage
2. Danny Huston
3. Kirsten Dunst
4. Jim Sturgess
5. Sami Gayle

In [40]:
q17_df = data.query('release_year==2012')
pd.Series({x: q17_df[q17_df.cast.str.contains(x)].profit.sum()
for x in actors}).sort_values(ascending = True).head(1)

Kirsten Dunst   -68109207
dtype: int64

In [41]:
answer_ls.append(3)

# 18. Какой актер снялся в большем количестве высокобюджетных фильмов? (в фильмах где бюджет выше среднего по данной выборке)
Варианты ответов:
1. Tom Cruise
2. Mark Wahlberg 
3. Matt Damon
4. Angelina Jolie
5. Adam Sandler

In [42]:
mean_budget = data.budget.mean()
q18_umb = data.query("budget > @mean_budget")
actors_lst = list([actor for actors in [s.split('|') for s in q18_umb.cast] for actor in actors])
c = Counter(actors_lst)
c.most_common(1)

[('Matt Damon', 18)]

In [43]:
answer_ls.append(3)

# 19. В фильмах какого жанра больше всего снимался Nicolas Cage?  
Варианты ответа:
1. Drama
2. Action
3. Thriller
4. Adventure
5. Crime

In [44]:
nc_data = data[data.cast.str.contains("Nicolas Cage", na=False)]
gnr_lst = list([genre for genres in [s.split('|') for s in nc_data.genres] for genre in genres])
g = Counter(gnr_lst)
g.most_common(5)

[('Action', 17),
 ('Thriller', 15),
 ('Drama', 12),
 ('Crime', 10),
 ('Fantasy', 8)]

In [45]:
answer_ls.append(2)

# 20. Какая студия сняла больше всего фильмов?
Варианты ответа:
1. Universal Pictures (Universal)
2. Paramount Pictures
3. Columbia Pictures
4. Warner Bros
5. Twentieth Century Fox Film Corporation

In [46]:
q20_lst = list([x for production_companies in [s.split('|') for s in data.production_companies] 
                for x in production_companies])
c20 = Counter(q20_lst)
c20.most_common(5)

[('Universal Pictures', 173),
 ('Warner Bros.', 168),
 ('Paramount Pictures', 122),
 ('Columbia Pictures', 117),
 ('Twentieth Century Fox Film Corporation', 109)]

In [47]:
answer_ls.append(1)

# 21. Какая студия сняла больше всего фильмов в 2015 году?
Варианты ответа:
1. Universal Pictures
2. Paramount Pictures
3. Columbia Pictures
4. Warner Bros
5. Twentieth Century Fox Film Corporation

In [48]:
q15_df = data.query("release_year == 2015")
q21_lst = list([x for production_companies in [s.split('|') for s in q15_df.production_companies] 
                for x in production_companies])
c21 = Counter(q21_lst)
c21.most_common(5)

[('Warner Bros.', 12),
 ('Universal Pictures', 10),
 ('Twentieth Century Fox Film Corporation', 8),
 ('Paramount Pictures', 7),
 ('Columbia Pictures', 7)]

In [49]:
answer_ls.append(4)

# 22. Какая студия заработала больше всего денег в жанре комедий за все время?
Варианты ответа:
1. Warner Bros
2. Universal Pictures (Universal)
3. Columbia Pictures
4. Paramount Pictures
5. Walt Disney

In [50]:
q22_df = data[data.genres.str.contains('Comedy')]
companies = set(data.production_companies.str.split('|').sum())
pd.Series({x: q22_df[q22_df.production_companies.str.contains(x)].profit.sum()
for x in companies}).sort_values(ascending = False).head(1)

/Users/verschworer/opt/anaconda3/lib/python3.7/site-packages/pandas/core/strings.py:1952: UserWarning: This pattern has match groups. To actually get the groups, use str.extract.
  return func(self, *args, **kwargs)

Universal    9130349034
dtype: int64

In [51]:
answer_ls.append(2)

# 23. Какая студия заработала больше всего денег в 2012 году?
Варианты ответа:
1. Universal Pictures (Universal)
2. Warner Bros
3. Columbia Pictures
4. Paramount Pictures
5. Lucasfilm

In [52]:
q23_df = data.query('release_year==2012')
companies = set(data.production_companies.str.split('|').sum())
pd.Series({x: q23_df[q23_df.production_companies.str.contains(x)].profit.sum()
for x in companies}).sort_values(ascending = False).head(1)

Columbia Pictures    2501406608
dtype: int64

In [53]:
answer_ls.append(3)

# 24. Самый убыточный фильм от Paramount Pictures
Варианты ответа:

1. K-19: The Widowmaker tt0267626
2. Next tt0435705
3. Twisted tt0315297
4. The Love Guru tt0811138
5. The Fighter tt0964517

In [54]:
q24_df = data[data.production_companies.str.contains("Paramount Pictures")]
q24_df[q24_df.profit == q24_df.profit.min()].imdb_id.values[0]

'tt0267626'

In [55]:
answer_ls.append(1)

# 25. Какой Самый прибыльный год (заработали больше всего)?
Варианты ответа:
1. 2014
2. 2008
3. 2012
4. 2002
5. 2015

In [56]:
best_profit = pd.pivot_table(data, values='profit', index='release_year', aggfunc='sum')
best_profit.profit.sort_values(ascending=False).head(1)

release_year
2015    18668572378
Name: profit, dtype: int64

In [57]:
answer_ls.append(5)

# 26. Какой Самый прибыльный год для студии Warner Bros?
Варианты ответа:
1. 2014
2. 2008
3. 2012
4. 2010
5. 2015

In [58]:
wb = data[data.production_companies.str.contains("Warner Bros", na=False)]
bp_wb = pd.pivot_table(wb, values='profit', index='release_year', aggfunc='sum')
bp_wb.profit.sort_values(ascending=False).head(1)

release_year
2014    2295464519
Name: profit, dtype: int64

In [59]:
answer_ls.append(1)

# 27. В каком месяце за все годы суммарно вышло больше всего фильмов?
Варианты ответа:
1. Январь
2. Июнь
3. Декабрь
4. Сентябрь
5. Май

In [60]:
data['date'] = pd.to_datetime(data.release_date, format='%m/%d/%Y')
data['month'] = data['date'].dt.month
data.groupby(['month'])['original_title'].count().sort_values(ascending=False)

month
9     227
12    191
10    186
8     161
3     156
4     149
6     147
11    146
7     142
5     140
2     135
1     110
Name: original_title, dtype: int64

In [61]:
answer_ls.append(4)

# 28. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)
Варианты ответа:
1. 345
2. 450
3. 478
4. 523
5. 381

In [62]:
date_summer = data.query('month in [6, 7, 8]')
date_summer.original_title.count()

450

In [63]:
answer_ls.append(2)

# 29. Какой режисер выпускает (суммарно по годам) больше всего фильмов зимой?
Варианты ответов:
1. Steven Soderbergh
2. Christopher Nolan
3. Clint Eastwood
4. Ridley Scott
5. Peter Jackson

In [64]:
q29_df = data.query('month in [1, 2, 12]')
q29_lst = list([x for director in [s.split('|') for s in q29_df.director] for x in director])
c29 = Counter(q29_lst)
c29.most_common(1)

[('Peter Jackson', 7)]

In [65]:
answer_ls.append(5)

# 30. Какой месяц чаще всего по годам самый прибыльный?
Варианты ответа:
1. Январь
2. Июнь
3. Декабрь
4. Сентябрь
5. Май

In [66]:
data.pivot_table(
values='profit',
aggfunc='sum',
columns='month',
index='release_year').idxmax(axis = 1).value_counts()

6     7
12    4
5     4
7     1
dtype: int64

In [67]:
answer_ls.append(2)

# 31. Названия фильмов какой студии в среднем самые длинные по количеству символов?
Варианты ответа:
1. Universal Pictures (Universal)
2. Warner Bros
3. Jim Henson Company, The
4. Paramount Pictures
5. Four By Two Productions

In [68]:
data['simbol'] = data.original_title.str.len()
companies = set(data.production_companies.str.split('|').sum())
pd.Series({x: data[data.production_companies.str.contains(x)].simbol.mean()
for x in companies}).sort_values(ascending = False).head(1)

Four By Two Productions    83.0
dtype: float64

In [69]:
answer_ls.append(5)

# 32. Названия фильмов какой студии в среднем самые длинные по количеству слов?
Варианты ответа:
1. Universal Pictures (Universal)
2. Warner Bros
3. Jim Henson Company, The
4. Paramount Pictures
5. Four By Two Productions

In [70]:
data['title_words'] = data['original_title'].str.split().str.len()
companies = set(data.production_companies.str.split('|').sum())
pd.Series({x: data[data.production_companies.str.contains(x)].title_words.mean()
for x in companies}).sort_values(ascending = False).head(1)

Four By Two Productions    12.0
dtype: float64

In [71]:
answer_ls.append(5)

# 33. Сколько разных слов используется в названиях фильмов?(без учета регистра)
Варианты ответа:
1. 6540
2. 1002
3. 2461
4. 28304
5. 3432

In [72]:
data['original_title'] = data['original_title'].str.lower()
words = set(data.original_title.str.split().sum())
len(words)

2461

In [73]:
answer_ls.append(3)

# 34. Какие фильмы входят в 1 процент лучших по рейтингу?
Варианты ответа:
1. Inside Out, Gone Girl, 12 Years a Slave
2. BloodRayne, The Adventures of Rocky & Bullwinkle
3. The Lord of the Rings: The Return of the King
4. 300, Lucky Number Slevin

In [74]:
rating = data.vote_average.quantile(0.99)
one_percent = data[data.vote_average >= rating]
#this part of code can be use to cleary see group of films in answers
#q34_a = ['inside out', 'gone girl', '12 years a slave', 'bloodrayne', 
#         'the adventures of rocky and bullwinkle', 'the lord of the rings: the return of the king', 
#         'upside down', '300', 'lucky number slevin']
#one_percent[one_percent.original_title.str.contains('|'.join(q34_a))]
one_percent.original_title

9                                              inside out
28                                              spotlight
34                                                   room
118                                          interstellar
119                               guardians of the galaxy
124                                            big hero 6
125                                    the imitation game
128                                             gone girl
138                              the grand budapest hotel
155                              the theory of everything
177                                the fault in our stars
283                                            mr. nobody
316                                              3 idiots
370                                             inception
497     the lord of the rings: the fellowship of the ring
600                                       the dark knight
864                 the lord of the rings: the two towers
873                                           the pianist
1082        the lord of the rings: the return of the king
1184                              the wolf of wall street
1189                                                  her
1192                                     12 years a slave
1206                                            prisoners
1214                                   dallas buyers club
1445                                         the prestige
1564                eternal sunshine of the spotless mind
1689                                  there will be blood
1801                                              memento
Name: original_title, dtype: object

In [75]:
answer_ls.append(1)

# 35. Какие актеры чаще всего снимаются в одном фильме вместе
Варианты ответа:
1. Johnny Depp & Helena Bonham Carter
2. Hugh Jackman & Ian McKellen
3. Vin Diesel & Paul Walker
4. Adam Sandler & Kevin James
5. Daniel Radcliffe & Rupert Grint

In [76]:
from itertools import combinations
combi = []
for actor in data.cast:
   for x in combinations(actor.split('|'), 2):
        combi.append(', '.join(x))
c35 = Counter(combi)
c35.most_common(1)

[('Daniel Radcliffe, Rupert Grint', 8)]

In [77]:
answer_ls.append(5)

# 36. У какого из режиссеров самый высокий процент фильмов со сборами выше бюджета?
Варианты ответа:
1. Quentin Tarantino
2. Steven Soderbergh
3. Robert Rodriguez
4. Christopher Nolan
5. Clint Eastwood

In [78]:
# platform 'eat' this answer
percetn_max = []
percetn_max.append(data[(data.director.str.contains("Quentin Tarantino"))&(data.profit > 0)].profit.count()/data[(data.director.str.contains("Quentin Tarantino"))].profit.count()*100)
percetn_max.append(data[(data.director.str.contains("Steven Soderbergh"))&(data.profit > 0)].profit.count()/data[(data.director.str.contains("Steven Soderbergh"))].profit.count()*100)
percetn_max.append(data[(data.director.str.contains("Robert Rodriguez"))&(data.profit > 0)].profit.count()/data[(data.director.str.contains("Robert Rodriguez"))].profit.count()*100)
percetn_max.append(data[(data.director.str.contains("Christopher Nolan"))&(data.profit > 0)].profit.count()/data[(data.director.str.contains("Christopher Nolan"))].profit.count()*100)
percetn_max.append(data[(data.director.str.contains("Clint Eastwood"))&(data.profit > 0)].profit.count()/data[(data.director.str.contains("Clint Eastwood"))].profit.count()*100)
percetn_max

[85.71428571428571,
 76.92307692307693,
 72.72727272727273,
 100.0,
 83.33333333333334]

In [79]:
# no answer like this
directors = set(data.director.str.split('|').sum())
pd.Series({x: data[(data.director.str.contains(x))&(data.profit > 0)].original_title.count()
           /len(data[data.profit > 0])
           *100
for x in directors}).sort_values(ascending = False).head(1)

Ridley Scott    0.811908
dtype: float64

In [80]:
# no answer like this
directors = set(data.director.str.split('|').sum())
pd.Series({x: data[(data.director.str.contains(x))&(data.profit > 0)].original_title.count()
           / data[data.profit > 0].original_title.count()
           *100
for x in directors}).sort_values(ascending = False).head(1)

Ridley Scott    0.811908
dtype: float64

In [81]:
# no answer like this & 'OUT' each time different
directors = set(data.director.str.split('|').sum())
pd.Series({x: data[(data.director.str.contains(x))&(data.profit > 0)].original_title.count()
           /data[(data.director.str.contains(x))].original_title.count()
           *100
for x in directors}).sort_values(ascending = False).head(1)

Mike Judge    100.0
dtype: float64

In [82]:
# and given the average popularity by director
directors = set(data.director.str.split('|').sum())
pd.Series({x: data[(data.director.str.contains(x))&(data.profit > 0)].original_title.count()
           / data[data.profit > 0].original_title.count()
           *100 * data[data.director.str.contains(x)].popularity.mean()
for x in directors}).sort_values(ascending = False).head(1)

Christopher Nolan    4.165139
dtype: float64

In [86]:
# suppose this guy makes a profitable movie easier than others (pay off faster, etc.)
directors = set(data.director.str.split('|').sum())
pd.Series({x: data[(data.director.str.contains(x))
                   & (data.profit > 0)
                   & (data[data.director.str.contains(x)].popularity.mean() 
                     > data.popularity.std() * data.popularity.mean())].original_title.count()
           / data[data.profit > 0].original_title.count()
           *100
for x in directors}).sort_values(ascending = False).head(1)
# but this path was empirical and I knew what I was looking for

Christopher Nolan    0.541272
dtype: float64

In [83]:
answer_ls.append(4)

# Submission

In [84]:
len(answer_ls)

36

In [85]:
pd.DataFrame({'Id':range(1,len(answer_ls)+1), 'Answer':answer_ls}, columns=['Id', 'Answer'])

    Id  Answer
0    1       4
1    2       2
2    3       3
3    4       2
4    5       1
5    6       5
6    7       2
7    8       1
8    9       4
9   10       5
10  11       3
11  12       3
12  13       3
13  14       2
14  15       5
15  16       1
16  17       3
17  18       3
18  19       2
19  20       1
20  21       4
21  22       2
22  23       3
23  24       1
24  25       5
25  26       1
26  27       4
27  28       2
28  29       5
29  30       2
30  31       5
31  32       5
32  33       3
33  34       1
34  35       5
35  36       4