In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import os
from collections import Counter
print(os.listdir("/Users/verschworer/work/SF/1 000 000"))

['[SF-DST] Movies IMBD v3.0.ipynb', 'data.csv', '@@@@.ipynb', '.ipynb_checkpoints']

In [2]:
data = pd.read_csv('data.csv')
data.head(0)

Empty DataFrame
Columns: [imdb_id, popularity, budget, revenue, original_title, cast, director, tagline, overview, runtime, genres, production_companies, release_date, vote_count, vote_average, release_year]
Index: []

In [3]:
len(data)

1890

# Предобработка датасета

In [4]:
answer_ls = [] # создадим список с ответами. сюда будем добавлять ответы по мере прохождения теста
# сюда можем вписать создание новых колонок в датасете

# 1. У какого фильма из списка самый большой бюджет?
Варианты ответов:
1. The Dark Knight Rises (tt1345836)
2. Spider-Man 3 (tt0413300)
3. Avengers: Age of Ultron (tt2395427)
4. The Warrior's Way	(tt1032751)
5. Pirates of the Caribbean: On Stranger Tides (tt1298650)

In [5]:
q1_pivot = data.loc[data['imdb_id'].isin
(['tt1345836','tt0413300','tt2395427','tt1032751','tt1298650'])].pivot_table(values=['budget'],
index=['imdb_id'])
q1_pivot.budget.sort_values(ascending=False)

imdb_id
tt1032751    425000000
tt1298650    380000000
tt2395427    280000000
tt0413300    258000000
tt1345836    250000000
Name: budget, dtype: int64

In [6]:
answer_ls.append(4)

# 2. Какой из фильмов самый длительный (в минутах)
1. The Lord of the Rings: The Return of the King	(tt0167260)
2. Gods and Generals	(tt0279111)
3. King Kong	(tt0360717)
4. Pearl Harbor	(tt0213149)
5. Alexander	(tt0346491)

In [7]:
q2_pivot = data.loc[data['imdb_id'].isin
(['tt0167260','tt0279111','tt0360717','tt0213149','tt0346491'])].pivot_table(values=['runtime'],
index=['imdb_id'])
q2_pivot.runtime.sort_values(ascending=False)

imdb_id
tt0279111    214
tt0167260    201
tt0360717    187
tt0213149    183
tt0346491    175
Name: runtime, dtype: int64

In [8]:
answer_ls.append(2)

# 3. Какой из фильмов самый короткий (в минутах)
Варианты ответов:

1. Home on the Range	tt0299172
2. The Jungle Book 2	tt0283426
3. Winnie the Pooh	tt1449283
4. Corpse Bride	tt0121164
5. Hoodwinked!	tt0443536

In [9]:
q3_pivot = data.loc[data['imdb_id'].isin
(['tt0299172','tt0283426','tt1449283','tt0121164','tt0443536'])].pivot_table(values=['runtime'],
index=['imdb_id'])
q3_pivot.runtime.sort_values(ascending=True)

imdb_id
tt1449283    63
tt0283426    72
tt0299172    76
tt0121164    77
tt0443536    80
Name: runtime, dtype: int64

In [10]:
answer_ls.append(3)

# 4. Средняя длительность фильма?

Варианты ответов:
1. 115
2. 110
3. 105
4. 120
5. 100

In [11]:
data.runtime.mean()

109.65343915343915

In [12]:
answer_ls.append(2)

# 5. Средняя длительность фильма по медиане?
Варианты ответов:
1. 106
2. 112
3. 101
4. 120
5. 115

In [13]:
data.runtime.median()

106.5

In [14]:
answer_ls.append(1)

# 6. Какой самый прибыльный фильм?
Варианты ответов:
1. The Avengers	tt0848228
2. Minions	tt2293640
3. Star Wars: The Force Awakens	tt2488496
4. Furious 7	tt2820852
5. Avatar	tt0499549

In [15]:
data['profit'] = data.revenue - data.budget
print(data.revenue[0], data.budget[0], data.profit[0])

1513528810 150000000 1363528810

In [16]:
q6_pivot = data.loc[data['imdb_id'].isin
(['tt0848228','tt2293640','tt2488496','tt2820852','tt0499549'])].pivot_table(values=['profit'],
index=['imdb_id'])
q6_pivot.profit.sort_values(ascending=False)

imdb_id
tt0499549    2544505847
tt2488496    1868178225
tt2820852    1316249360
tt0848228    1299557910
tt2293640    1082730962
Name: profit, dtype: int64

In [17]:
answer_ls.append(5)

# 7. Какой фильм самый убыточный?
Варианты ответов:
1. Supernova tt0134983
2. The Warrior's Way tt1032751
3. Flushed Away	tt0424095
4. The Adventures of Pluto Nash	tt0180052
5. The Lone Ranger	tt1210819

In [18]:
q7_pivot = data.loc[data['imdb_id'].isin
(['tt0134983','tt1032751','tt0424095','tt0180052','tt1210819'])].pivot_table(values=['profit'],
index=['imdb_id'])
q7_pivot.profit.sort_values(ascending=True)

imdb_id
tt1032751   -413912431
tt1210819   -165710090
tt0180052    -92896027
tt0424095    -84540684
tt0134983    -75171919
Name: profit, dtype: int64

In [19]:
answer_ls.append(2)

# 8. Сколько всего фильмов в прибыли?
Варианты ответов:
1. 1478
2. 1520
3. 1241
4. 1135
5. 1398

In [20]:
data[(data['profit'] > 0)].profit.count()

1478

In [21]:
answer_ls.append(1)

# 9. Самый прибыльный фильм в 2008 году?
Варианты ответов:
1. Madagascar: Escape 2 Africa	tt0479952
2. Iron Man	tt0371746
3. Kung Fu Panda	tt0441773
4. The Dark Knight	tt0468569
5. Mamma Mia!	tt0795421

In [22]:
data[(data['release_year'] == 2008)].profit.max()

816921825

In [23]:
data.query('release_year==2008 & profit==816921825').imdb_id

600    tt0468569
Name: imdb_id, dtype: object

In [24]:
answer_ls.append(4)

# 10. Самый убыточный фильм за период с 2012 по 2014 (включительно)?
Варианты ответов:
1. Winter's Tale	tt1837709
2. Stolen	tt1656186
3. Broken City	tt1235522
4. Upside Down	tt1374992
5. The Lone Ranger	tt1210819

In [25]:
q10 = data.loc[data['release_year'].isin(['2012','2013','2014'])]
q10[(q10['profit'] == q10.profit.min())].imdb_id

1246    tt1210819
Name: imdb_id, dtype: object

In [26]:
answer_ls.append(5)

# 11. Какого жанра фильмов больше всего?
Варианты ответов:
1. Action
2. Adventure
3. Drama
4. Comedy
5. Thriller

In [27]:
gnr = []
gnr.append(data[data.genres.str.contains("Action", na=False)].genres.count())
gnr.append(data[data.genres.str.contains("Adventure", na=False)].genres.count())
gnr.append(data[data.genres.str.contains("Drama", na=False)].genres.count())
gnr.append(data[data.genres.str.contains("Comedy", na=False)].genres.count())
gnr.append(data[data.genres.str.contains("Thriller", na=False)].genres.count())
gnr

[583, 416, 782, 683, 597]

In [28]:
answer_ls.append(3)

# 12. Какого жанра среди прибыльных фильмов больше всего?
Варианты ответов:
1. Action
2. Adventure
3. Drama
4. Comedy
5. Thriller

In [29]:
data_profit = data.query('profit>0')
gnr_profit = []
gnr_profit.append(data_profit[data_profit.genres.str.contains("Action", na=False)].genres.count())
gnr_profit.append(data_profit[data_profit.genres.str.contains("Adventure", na=False)].genres.count())
gnr_profit.append(data_profit[data_profit.genres.str.contains("Drama", na=False)].genres.count())
gnr_profit.append(data_profit[data_profit.genres.str.contains("Comedy", na=False)].genres.count())
gnr_profit.append(data_profit[data_profit.genres.str.contains("Thriller", na=False)].genres.count())
gnr_profit

[444, 337, 560, 551, 446]

In [30]:
answer_ls.append(3)

# 13. Кто из режиссеров снял больше всего фильмов?
Варианты ответов:
1. Steven Spielberg
2. Ridley Scott 
3. Steven Soderbergh
4. Christopher Nolan
5. Clint Eastwood

In [31]:
#we have more then one directors for some films, aren't we?
data[data.director.str.contains("\|", na=False, regex=True)].director.nunique()

109

In [32]:
dctr = []
dctr.append(data[data.director.str.contains("Steven Spielberg", na=False)].original_title.count())
dctr.append(data[data.director.str.contains("Ridley Scott", na=False)].original_title.count())
dctr.append(data[data.director.str.contains("Steven Soderbergh", na=False)].original_title.count())
dctr.append(data[data.director.str.contains("Christopher Nolan", na=False)].original_title.count())
dctr.append(data[data.director.str.contains("Clint Eastwood", na=False)].original_title.count())
dctr

[10, 12, 13, 8, 12]

In [33]:
answer_ls.append(3)

# 14. Кто из режиссеров снял больше всего Прибыльных фильмов?
Варианты ответов:
1. Steven Spielberg
2. Ridley Scott 
3. Steven Soderbergh
4. Christopher Nolan
5. Clint Eastwood

In [34]:
dctr_profit = []
dctr_profit.append(data_profit[data_profit.director.str.contains("Steven Spielberg", na=False)].original_title.count())
dctr_profit.append(data_profit[data_profit.director.str.contains("Ridley Scott", na=False)].original_title.count())
dctr_profit.append(data_profit[data_profit.director.str.contains("Steven Soderbergh", na=False)].original_title.count())
dctr_profit.append(data_profit[data_profit.director.str.contains("Christopher Nolan", na=False)].original_title.count())
dctr_profit.append(data_profit[data_profit.director.str.contains("Clint Eastwood", na=False)].original_title.count())
dctr_profit

[10, 12, 10, 8, 10]

In [35]:
answer_ls.append(2)

# 15. Кто из режиссеров принес больше всего прибыли?
Варианты ответов:
1. Steven Spielberg
2. James Cameron
3. Christopher Nolan
4. David Yates
5. Peter Jackson

In [36]:
profit_max = []
profit_max.append(data[data.director.str.contains("Steven Spielberg", na=False)].profit.sum()//1000000)
profit_max.append(data[data.director.str.contains("James Cameron", na=False)].profit.sum()//1000000)
profit_max.append(data[data.director.str.contains("Christopher Nolan", na=False)].profit.sum()//1000000)
profit_max.append(data[data.director.str.contains("David Yates", na=False)].profit.sum()//1000000)
profit_max.append(data[data.director.str.contains("Peter Jackson", na=False)].profit.sum()//1000000)
profit_max

[2449, 2548, 3162, 3379, 5202]

In [37]:

answer_ls.append(5)

# 16. Какой актер принес больше всего прибыли?
Варианты ответов:
1. Emma Watson
2. Johnny Depp
3. Michelle Rodriguez
4. Orlando Bloom
5. Rupert Grint

In [38]:
cast_maxprofit = []
cast_maxprofit.append(data[data.cast.str.contains("Emma Watson", na=False)].profit.sum()//1000000)
cast_maxprofit.append(data[data.cast.str.contains("Johnny Depp", na=False)].profit.sum()//1000000)
cast_maxprofit.append(data[data.cast.str.contains("Michelle Rodriguez", na=False)].profit.sum()//1000000)
cast_maxprofit.append(data[data.cast.str.contains("Orlando Bloom", na=False)].profit.sum()//1000000)
cast_maxprofit.append(data[data.cast.str.contains("Rupert Grint", na=False)].profit.sum()//1000000)
cast_maxprofit

[6666, 4776, 4608, 5148, 6408]

In [39]:
answer_ls.append(1)

# 17. Какой актер принес меньше всего прибыли в 2012 году?
Варианты ответов:
1. Nicolas Cage
2. Danny Huston
3. Kirsten Dunst
4. Jim Sturgess
5. Sami Gayle

In [40]:
data_2012 = data.query('release_year==2012')
cast_2012profit = []
cast_2012profit.append(data_2012[data_2012.cast.str.contains("Nicolas Cage", na=False)].profit.sum()//1000000)
cast_2012profit.append(data_2012[data_2012.cast.str.contains("Danny Huston", na=False)].profit.sum()//1000000)
cast_2012profit.append(data_2012[data_2012.cast.str.contains("Kirsten Dunst", na=False)].profit.sum()//1000000)
cast_2012profit.append(data_2012[data_2012.cast.str.contains("Jim Sturgess", na=False)].profit.sum()//1000000)
cast_2012profit.append(data_2012[data_2012.cast.str.contains("Sami Gayle", na=False)].profit.sum()//1000000)
cast_2012profit

[-33, -33, -69, -24, -33]

In [41]:
answer_ls.append(3)

# 18. Какой актер снялся в большем количестве высокобюджетных фильмов? (в фильмах где бюджет выше среднего по данной выборке)
Варианты ответов:
1. Tom Cruise
2. Mark Wahlberg 
3. Matt Damon
4. Angelina Jolie
5. Adam Sandler

### решение оказалось неверным так как не совсем понятно какая выборка требуется в задании  - по всему датафрейму или по пяти актерам в задании (сперва выборка из 5 актеров, потом средний бюджет)
actors_q18 = ['Tom Cruise','Mark Wahlberg','Matt Damon','Angelina Jolie','Adam Sandler']

q18 = data[data.cast.str.contains('|'.join(actors_q18))]

q18['mean_budget'] = q18.budget.mean()

q18_2umb = q18.query("budget > mean_budget")

actors_list = list([actor for actors in [s.split('|') for s in q18_2umb.cast] for actor in actors])

cc = Counter(actors_list)

cc.most_common(5)

In [42]:
data['mean_budget'] = data.budget.mean()
q18_umb = data.query("budget > mean_budget")
actors_lst = list([actor for actors in [s.split('|') for s in q18_umb.cast] for actor in actors])
c = Counter(actors_lst)
c.most_common(5)

[('Matt Damon', 18),
 ('Adam Sandler', 17),
 ('Angelina Jolie', 16),
 ('Tom Cruise', 15),
 ('Samuel L. Jackson', 15)]

In [43]:
answer_ls.append(3)

# 19. В фильмах какого жанра больше всего снимался Nicolas Cage?  
Варианты ответа:
1. Drama
2. Action
3. Thriller
4. Adventure
5. Crime

In [44]:
nc_data = data[data.cast.str.contains("Nicolas Cage", na=False)]
gnr_lst = list([genre for genres in [s.split('|') for s in nc_data.genres] for genre in genres])
g = Counter(gnr_lst)
g.most_common(5)

[('Action', 17),
 ('Thriller', 15),
 ('Drama', 12),
 ('Crime', 10),
 ('Fantasy', 8)]

In [45]:
answer_ls.append(2)

# 20. Какая студия сняла больше всего фильмов?
Варианты ответа:
1. Universal Pictures (Universal)
2. Paramount Pictures
3. Columbia Pictures
4. Warner Bros
5. Twentieth Century Fox Film Corporation

In [46]:
films = []
films.append(data[data.production_companies.str.contains("Universal", na=False)].original_title.count())
films.append(data[data.production_companies.str.contains("Paramount", na=False)].original_title.count())
films.append(data[data.production_companies.str.contains("Columbia", na=False)].original_title.count())
films.append(data[data.production_companies.str.contains("Warner Bros", na=False)].original_title.count())
films.append(data[data.production_companies.str.contains("Twentieth Century Fox Film Corporation", na=False)].original_title.count())
films

[185, 134, 172, 183, 109]

In [47]:
answer_ls.append(1)

# 21. Какая студия сняла больше всего фильмов в 2015 году?
Варианты ответа:
1. Universal Pictures
2. Paramount Pictures
3. Columbia Pictures
4. Warner Bros
5. Twentieth Century Fox Film Corporation

In [52]:
data_films15 = data.query("release_year == 2015")
y15_films = set(data_films15.production_companies.str.split('|').sum())
fy15 = pd.Series({x: data_films15[data_films15.production_companies.str.contains(x)].production_companies.count() 
for x in y15_films}).sort_values(ascending = False)
fy15.head()

Warner Bros.                              12
Universal Pictures                        11
Twentieth Century Fox Film Corporation     8
Columbia Pictures                          7
Paramount Pictures                         7
dtype: int64

In [53]:
answer_ls.append(4)

# 22. Какая студия заработала больше всего денег в жанре комедий за все время?
Варианты ответа:
1. Warner Bros
2. Universal Pictures (Universal)
3. Columbia Pictures
4. Paramount Pictures
5. Walt Disney

In [54]:
data_comedy = data[data.genres.str.contains('Comedy')]
comedies = []
comedies.append(data_comedy[data_comedy.production_companies.str.contains("Warner Bros", na=False)].profit.sum()//1000000)
comedies.append(data_comedy[data_comedy.production_companies.str.contains("Universal ", na=False)].profit.sum()//1000000)
comedies.append(data_comedy[data_comedy.production_companies.str.contains("Columbia Pictures", na=False)].profit.sum()//1000000)
comedies.append(data_comedy[data_comedy.production_companies.str.contains("Paramount Pictures", na=False)].profit.sum()//1000000)
comedies.append(data_comedy[data_comedy.production_companies.str.contains("Walt Disney", na=False)].profit.sum()//1000000)
comedies

[4370, 9075, 7161, 3055, 7975]

In [55]:
answer_ls.append(2)

# 23. Какая студия заработала больше всего денег в 2012 году?
Варианты ответа:
1. Universal Pictures (Universal)
2. Warner Bros
3. Columbia Pictures
4. Paramount Pictures
5. Lucasfilm

In [56]:
data_2012 = data.query('release_year==2012')
prod_12profit = []
prod_12profit.append(data_2012[data_2012.production_companies.str.contains("Universal", na=False)].profit.sum()//1000000)
prod_12profit.append(data_2012[data_2012.production_companies.str.contains("Warner Bros", na=False)].profit.sum()//1000000)
prod_12profit.append(data_2012[data_2012.production_companies.str.contains("Columbia Pictures", na=False)].profit.sum()//1000000)
prod_12profit.append(data_2012[data_2012.production_companies.str.contains("Paramount Pictures", na=False)].profit.sum()//1000000)
prod_12profit.append(data_2012[data_2012.production_companies.str.contains("Lucasfilm", na=False)].profit.sum()//1000000)
prod_12profit

[1981, 1258, 2501, 410, -8]

In [57]:
answer_ls.append(3)

# 24. Самый убыточный фильм от Paramount Pictures
Варианты ответа:

1. K-19: The Widowmaker tt0267626
2. Next tt0435705
3. Twisted tt0315297
4. The Love Guru tt0811138
5. The Fighter tt0964517

In [58]:
parapic = data[data.production_companies.str.contains("Paramount Pictures", na=False)]
parapic_q24 = parapic.loc[parapic['imdb_id'].isin
(['tt0267626','tt0435705','tt0315297','tt0811138','tt0964517'])].pivot_table(values=['profit'],
index=['imdb_id'])
parapic_q24.profit.sort_values(ascending=True)

imdb_id
tt0267626   -64831034
tt0435705   -51788987
tt0315297   -24805000
tt0811138   -20180936
tt0964517   -15809131
Name: profit, dtype: int64

In [59]:
answer_ls.append(1)

# 25. Какой Самый прибыльный год (заработали больше всего)?
Варианты ответа:
1. 2014
2. 2008
3. 2012
4. 2002
5. 2015

In [60]:
best_profit = pd.pivot_table(data, values='profit', index='release_year', aggfunc='sum')
best_profit.profit.sort_values(ascending=False).head(1)

release_year
2015    18668572378
Name: profit, dtype: int64

In [61]:
answer_ls.append(5)

# 26. Какой Самый прибыльный год для студии Warner Bros?
Варианты ответа:
1. 2014
2. 2008
3. 2012
4. 2010
5. 2015

In [62]:
wb = data[data.production_companies.str.contains("Warner Bros", na=False)]
bp_wb = pd.pivot_table(wb, values='profit', index='release_year', aggfunc='sum')
bp_wb.profit.sort_values(ascending=False).head(1)

release_year
2014    2295464519
Name: profit, dtype: int64

In [63]:
answer_ls.append(1)

# 27. В каком месяце за все годы суммарно вышло больше всего фильмов?
Варианты ответа:
1. Январь
2. Июнь
3. Декабрь
4. Сентябрь
5. Май

In [64]:
data['date'] = pd.to_datetime(data.release_date, format='%m/%d/%Y')
data['month'] = data['date'].dt.month
data.pivot_table(
values='original_title',
aggfunc='count',
index='month').original_title.sort_values(ascending=False).head(1)

month
9    227
Name: original_title, dtype: int64

In [65]:
answer_ls.append(4)

# 28. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)
Варианты ответа:
1. 345
2. 450
3. 478
4. 523
5. 381

In [66]:
date_summer = data.query('month in [6, 7, 8]')
date_summer.original_title.count()

450

In [67]:
answer_ls.append(2)

# 29. Какой режисер выпускает (суммарно по годам) больше всего фильмов зимой?
Варианты ответов:
1. Steven Soderbergh
2. Christopher Nolan
3. Clint Eastwood
4. Ridley Scott
5. Peter Jackson

In [68]:
data_winter = data.query('month in [1, 2, 12]')
wntr_films = []
wntr_films.append(data_winter[data_winter.director.str.contains("Steven Spielberg", na=False)].original_title.count())
wntr_films.append(data_winter[data_winter.director.str.contains("Christopher Nolan", na=False)].original_title.count())
wntr_films.append(data_winter[data_winter.director.str.contains("Clint Eastwood", na=False)].original_title.count())
wntr_films.append(data_winter[data_winter.director.str.contains("Ridley Scott", na=False)].original_title.count())
wntr_films.append(data_winter[data_winter.director.str.contains("Peter Jackson", na=False)].original_title.count())
wntr_films

[3, 0, 6, 3, 7]

In [69]:
answer_ls.append(5)

# 30. Какой месяц чаще всего по годам самый прибыльный?
Варианты ответа:
1. Январь
2. Июнь
3. Декабрь
4. Сентябрь
5. Май

In [70]:
data.pivot_table(
values='profit',
aggfunc='sum',
columns='month',
index='release_year').idxmax(axis = 1).value_counts()

6     7
12    4
5     4
7     1
dtype: int64

In [71]:
answer_ls.append(2)

# 31. Названия фильмов какой студии в среднем самые длинные по количеству символов?
Варианты ответа:
1. Universal Pictures (Universal)
2. Warner Bros
3. Jim Henson Company, The
4. Paramount Pictures
5. Four By Two Productions

In [72]:
data['simbol'] = data.original_title.str.len()
max_simb = []
max_simb.append(data[data.production_companies.str.contains("Universal", na=False)].simbol.mean())
max_simb.append(data[data.production_companies.str.contains("Warner Bros", na=False)].simbol.mean())
max_simb.append(data[data.production_companies.str.contains("Jim Henson Company, The", na=False)].simbol.mean())
max_simb.append(data[data.production_companies.str.contains("Paramount Pictures", na=False)].simbol.mean())
max_simb.append(data[data.production_companies.str.contains("Four By Two Productions", na=False)].simbol.mean())
max_simb

[14.762162162162163, 15.251366120218579, 59.0, 17.0327868852459, 83.0]

In [73]:
answer_ls.append(5)

# 32. Названия фильмов какой студии в среднем самые длинные по количеству слов?
Варианты ответа:
1. Universal Pictures (Universal)
2. Warner Bros
3. Jim Henson Company, The
4. Paramount Pictures
5. Four By Two Productions

In [74]:
data['title_words'] = data['original_title'].str.split().str.len()
max_words = []
max_words.append(data[data.production_companies.str.contains("Universal", na=False)].title_words.mean())
max_words.append(data[data.production_companies.str.contains("Warner Bros", na=False)].title_words.mean())
max_words.append(data[data.production_companies.str.contains("Jim Henson Company, The", na=False)].title_words.mean())
max_words.append(data[data.production_companies.str.contains("Paramount Pictures", na=False)].title_words.mean())
max_words.append(data[data.production_companies.str.contains("Four By Two Productions", na=False)].title_words.mean())
max_words

[2.627027027027027, 2.73224043715847, 10.0, 2.8688524590163933, 12.0]

In [75]:
answer_ls.append(5)

# 33. Сколько разных слов используется в названиях фильмов?(без учета регистра)
Варианты ответа:
1. 6540
2. 1002
3. 2461
4. 28304
5. 3432

In [76]:
data['original_title'] = data['original_title'].str.lower()
words = set(data.original_title.str.split().sum())
len(words)

2461

In [77]:
answer_ls.append(3)

# 34. Какие фильмы входят в 1 процент лучших по рейтингу?
Варианты ответа:
1. Inside Out, Gone Girl, 12 Years a Slave
2. BloodRayne, The Adventures of Rocky & Bullwinkle
3. The Lord of the Rings: The Return of the King
4. 300, Lucky Number Slevin

In [78]:
rating = data.vote_average.quantile(0.99)
one_percent = data[data.vote_average >= rating]
q34_a = ['inside out', 'gone girl', '12 years a slave', 'bloodrayne', 
         'the adventures of rocky and bullwinkle', 'the lord of the rings: the return of the king', 
         'upside down', '300', 'lucky number slevin']
one_percent[one_percent.original_title.str.contains('|'.join(q34_a))]

,imdb_id,popularity,budget,revenue,original_title,cast,director,tagline,overview,runtime,...,release_date,vote_count,vote_average,release_year,profit,mean_budget,date,month,simbol,title_words
9,tt2096673,6.326804,175000000,853708609,inside out,Amy Poehler|Phyllis Smith|Richard Kind|Bill Ha...,Pete Docter,Meet the little voices inside your head.,"Growing up can be a bumpy road, and it's no ex...",94,...,6/9/2015,3935,8.0,2015,678708609,5.450696e+07,2015-06-09,6,10,2
128,tt2267998,6.438727,61000000,369330363,gone girl,Ben Affleck|Rosamund Pike|Carrie Coon|Neil Pat...,David Fincher,You don't know what you've got 'til it's...,With his wife's disappearance having become th...,145,...,10/1/2014,3720,7.9,2014,308330363,5.450696e+07,2014-10-01,10,9,2
1082,tt0167260,7.122455,94000000,1118888979,the lord of the rings: the return of the king,Elijah Wood|Ian McKellen|Viggo Mortensen|Liv T...,Peter Jackson,The eye of the enemy is moving.,Aragorn is revealed as the heir to the ancient...,201,...,12/1/2003,5636,7.9,2003,1024888979,5.450696e+07,2003-12-01,12,45,10
1192,tt2024544,3.625529,20000000,187000000,12 years a slave,Chiwetel Ejiofor|Michael Fassbender|Lupita Nyo...,Steve McQueen,The extraordinary true story of Solomon Northup,"In the pre-Civil War United States, Solomon No...",134,...,10/18/2013,2241,7.9,2013,167000000,5.450696e+07,2013-10-18,10,16,4

In [79]:
answer_ls.append(1)

# 35. Какие актеры чаще всего снимаются в одном фильме вместе
Варианты ответа:
1. Johnny Depp & Helena Bonham Carter
2. Hugh Jackman & Ian McKellen
3. Vin Diesel & Paul Walker
4. Adam Sandler & Kevin James
5. Daniel Radcliffe & Rupert Grint

In [80]:
tghr = []
tghr.append(data[data['cast'].str.contains('Johnny Depp') & data['cast'].str.contains('Helena Bonham Carter')].original_title.count())
tghr.append(data[data['cast'].str.contains('Hugh Jackman') & data['cast'].str.contains('Ian McKellen')].original_title.count())
tghr.append(data[data['cast'].str.contains('Vin Diesel') & data['cast'].str.contains('Paul Walker')].original_title.count())
tghr.append(data[data['cast'].str.contains('Adam Sandler') & data['cast'].str.contains('Kevin James')].original_title.count())
tghr.append(data[data['cast'].str.contains('Daniel Radcliffe') & data['cast'].str.contains('Rupert Grint')].original_title.count())
tghr

[6, 5, 5, 5, 8]

In [81]:
answer_ls.append(5)

# 36. У какого из режиссеров самый высокий процент фильмов со сборами выше бюджета?
Варианты ответа:
1. Quentin Tarantino
2. Steven Soderbergh
3. Robert Rodriguez
4. Christopher Nolan
5. Clint Eastwood

In [82]:
percetn_max = []
percetn_max.append(data[(data.director.str.contains("Quentin Tarantino"))&(data.profit > 0)].profit.count()/data[(data.director.str.contains("Quentin Tarantino"))].profit.count()*100)
percetn_max.append(data[(data.director.str.contains("Steven Soderbergh"))&(data.profit > 0)].profit.count()/data[(data.director.str.contains("Steven Soderbergh"))].profit.count()*100)
percetn_max.append(data[(data.director.str.contains("Robert Rodriguez"))&(data.profit > 0)].profit.count()/data[(data.director.str.contains("Robert Rodriguez"))].profit.count()*100)
percetn_max.append(data[(data.director.str.contains("Christopher Nolan"))&(data.profit > 0)].profit.count()/data[(data.director.str.contains("Christopher Nolan"))].profit.count()*100)
percetn_max.append(data[(data.director.str.contains("Clint Eastwood"))&(data.profit > 0)].profit.count()/data[(data.director.str.contains("Clint Eastwood"))].profit.count()*100)
percetn_max

[85.71428571428571,
 76.92307692307693,
 72.72727272727273,
 100.0,
 83.33333333333334]

In [83]:
answer_ls.append(4)

# Submission

In [84]:
len(answer_ls)

36

In [85]:
pd.DataFrame({'Id':range(1,len(answer_ls)+1), 'Answer':answer_ls}, columns=['Id', 'Answer'])

    Id  Answer
0    1       4
1    2       2
2    3       3
3    4       2
4    5       1
5    6       5
6    7       2
7    8       1
8    9       4
9   10       5
10  11       3
11  12       3
12  13       3
13  14       2
14  15       5
15  16       1
16  17       3
17  18       3
18  19       2
19  20       1
20  21       4
21  22       2
22  23       3
23  24       1
24  25       5
25  26       1
26  27       4
27  28       2
28  29       5
29  30       2
30  31       5
31  32       5
32  33       3
33  34       1
34  35       5
35  36       4